.sidebar {
  margin-top: 25px;
  width: 180px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1);
}

.icon {
  font-size: 25px;
}

.link {
  width: 150px;
  margin: 5px;
}

.but {
  text-align: left;
}
