.h-head{
    background-image: linear-gradient(to bottom, #bb0126, #b30124, #ab0022, #a40020, #9c001e);
    border-bottom: 4px solid #d4002a;
    
}
.h-head h1{
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.reservation{
    width: 70%;
    margin: auto;
    background-color: #d0667a;
    padding: 10px 20px;
}
.h-mid{
    text-align:left;
    margin-top: 50px;
    padding: 2% 8%;

}
.h-mid h1{
    text-align: left;
    font-size: 40px;
    font-weight: 700;
}
.h-mid p{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
}
.h-mid-sub{
    display: flex;
    gap: 2%;
}
.h-mid-sub h2{
    font-size: 25px;
    font-weight: 500;
}
.h-mid-sub h3{
    color: #9c001e;
    font-weight: 500;
    margin-top: auto;
    
}

.h-partner{
    text-align:left;
    margin-top: 50px;
    padding: 2% 8%;
}
.h-partner>h1{
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.h-part-sub{
    display: flex;
    gap: 2%;
    justify-content: space-between;
}
.h-part-sub>div{
    width: 30%;
    display: flex;

}
.h-part-sub>div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h-part-sub>div div h1{
    color: #9c001e;
    font-weight: 500;
}

.h-input{
    padding: 10px 15px;
    width: 50%;
    margin-bottom: 10px;
    font-size: 15px;
    border: 1px solid black;

}
.h-input:hover{
    animation: 1000ms ease-in  ;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.reservation>div{
    display: flex;
    justify-content: space-between;


}
.reservation>select{
    display: flex;
    justify-content: space-between;
}
.banner{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 80%;
    color: white;
    height: auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.banner img{
    position: absolute;
    width:80%;
    height: 400px;
    z-index: -10;
   
}
.banner p{
    font-weight: 700;
    font-size: 20px;
}
.btn{
    background-color: #fc0234;
    width: 200px;
    height: 50px;
    margin: auto;
}
.btn5{
    background-color: #fc0234;
    width: 200px;
    height: 50px;
    margin: auto;
}
.btn3{

    width: 100px;
    height: 50px;
    margin: auto;
    background-color: white;
    color: #9c001e;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
}
.btn3:hover{
    background-color: #c01638;
    color: white;

}
.point:hover{
    cursor: pointer;
    
    color: black;
}



@media screen and (min-width:320px) and (max-width:767px) {
    .h-partner-sub{
        flex-direction: column;
    }
    .h-part-sub>div{
        flex-direction: column;
    }
    .h-partner>h1{
        font-size: 30px;
    }
    .h-mid>h1{
        font-size: 30px;
    }
    .h-mid-sub h2{
        font-size: 15px;
    }
    .h-mid-sub p{
        font-size: 12px;
    }
}