
.outerBox{
    background-image: linear-gradient( white,rgb(255, 255, 255) 2%);
    height: 111vh;
}



.mainBox{
    width: 91%;
    margin: auto;
    background-image: linear-gradient( white,rgb(255, 255, 255) 2%);

}

.detailsdiv{
    /* border:1px solid red; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) ;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 2vh;
    height: 42vh;
}

.imagediv{
    border-right:1px solid rgba(0, 0, 0, 0.15);
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    
}

.pickup{

    /* border:1px solid rgb(0, 76, 165); */
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    height: 17vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;

}

.pickup>div{
    /* border:1px solid rgb(189, 5, 5); */
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    border-top:1px solid rgba(15, 17, 19, 0.15);
    border-bottom:1px solid rgba(9, 10, 11, 0.15);
    border-left:0px solid rgba(27, 31, 35, 0.15);
    border-right:0px solid rgba(27, 31, 35, 0.15);
    padding-left: 1vw;
    
}
.pickup>div+div{
    border-left:1px solid rgba(15, 17, 19, 0.15);
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    padding-left: 1vw;
    


}

.pickup>div>p{
    margin: 0.7vh;
    
}

.date{
    font-weight: 600;
    font-size:18px ;
    margin-top: 0px;

}


.img{
   display: grid;
   grid-template-columns: 27% 73%;

}

.img>div{
    /* background-color: antiquewhite; */
    
}

.img>div>img{
    width: 100%;
}


.img>div+div{
    /* background-color: rgb(146, 83, 0); */
    text-align: left;
    padding-left: 2.7vw;
    margin-top: 7%;
    

}

.carModel{
    font-size: 21px;
    font-weight: 500;
}

.img>div+div>span{
  
    margin-left: 1vw;
    font-size: 167x;

}


.rate{
   /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */

}

.priceList{
   /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 0px 0px, rgba(27, 31, 35, 0.15) 0px 0px 1px 0px; */
   border-bottom: 1px solid rgba(23, 26, 30, 0.15);
   border-top: 1px solid rgba(27, 31, 35, 0.15) 
   /* border:2px solid green */

}

.priceList>p{
    text-align: left;
   padding-left: 2vw;
   font-size: 17px;
   
}

.priceList>p>del{
    color:rgb(186, 0, 0);
    margin-left: 18vw;
    margin-right: 1vw;
    
}

.priceList>p+p>span{
    text-align: left;
    color:rgb(186, 0, 0);
    padding-right: 21vw;

   font-size: 18px;
}

.priceList>p+p+p>span{
    text-align: left;
    color:rgb(0, 0, 0);
    padding-right: 14.38vw;
    font-weight: 500;
   font-size: 18px;
}
.priceList>p+p+p+p>span{
    text-align: left;
    color:rgb(0, 0, 0);
    padding-right: 21vw;
    font-weight: 500;
   font-size: 18px;
}
.priceList>p+p+p+p>span+span{
    color:rgb(186, 0, 0);
      margin-right: 0px;
      padding-right: 0px;
    /* text-align: right; */
    /* margin-left:28vw; */
    
}

.benefite{
    /* background-color: beige; */
    width: 20vw;
    margin-left:67% ;
    color: green;
    text-align: right;
    margin-right:2vw;
   
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    
}

.benefite>p{
    margin: 3.5px;
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    display: flex;
    padding-top: 2vh;
    
}
.benefite>p>img{

    width: 24px;
}

.formDiv{
    /* border : 2px solid green; */
    margin-top: 9vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.form>h1{
    text-align: left;
    margin-left: 1.9vw;
    font-size: 28px;
    font-weight: 400;
    text-decoration: underline;
    font-family: sans-serif;
}

.form{
    width: 82%;
    border : 1px solid rgb(218, 218, 218);
    margin: auto;
    /* margin-top:7vh; */
    padding-bottom: 1vh;
    padding-right: 1vw;
    

}

.formdata{
   text-align: left;
   margin-left: 2vw;
   
}
.formdata>p>span{
    margin-right: 3vw;
    
}

.formdata>p>input{
       width: 70%;
       padding: 0.45vw;
       /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
       background-color: rgb(250, 249, 249);
       border-top:1px solid rgb(171, 171, 171);
       border-bottom:1px solid rgb(214, 214, 214);
       border-left:1px solid rgb(168, 168, 168);
       border-right:1px solid rgb(187, 187, 187);
       
       
    
}

.formdata>p>input:hover{
    border:1px solid rgb(58, 18, 18);

}

.submit{
    padding: 0.4vw;
    margin-left:41%;
    width: 24%;
    background-image: linear-gradient( rgb(255, 255, 255),rgb(167, 167, 167) 77%);

    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid rgb(86, 86, 86);
}

.submit:hover{
    background-image: linear-gradient( white,rgb(98, 98, 98) 77%);

}

.formdata>p>input{
    margin-left: -0.3vw;
}
.formdata>p+p>input{
    margin-left: -0.3vw;
}
.formdata>p+p+p>input{
    margin-left: 2.9vw;

}
.formdata>p+p+p+p>input{
    margin-left: 2.7vw;

    
}


/* /////////////// */

.pay{
    background-color: rgb(242, 242, 242);
}

.carddata{
    text-align: left;
    margin-left: 2vw;
    
 }

 .craditcard>h1{
    font-size: 24px;
    text-decoration: underline;
    font-weight: 400;
    margin-left: 2vw;
 }

 .carddata>p>span{
     margin-right: 3vw;
     
 }
 
 .carddata>p>input{
        width: 70%;
        padding: 0.45vw;
        /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
        background-color: rgb(250, 249, 249);
        border-top:1px solid rgb(171, 171, 171);
        border-bottom:1px solid rgb(214, 214, 214);
        border-left:1px solid rgb(168, 168, 168);
        border-right:1px solid rgb(187, 187, 187);
        padding-left: 1vw;
        
     
 }
 
 .carddata>p>input:hover{
     border:1px solid rgb(58, 18, 18);
 
 }
 
 .submit{
     padding: 0.4vw;
     margin-left:41%;
     width: 24%;
     background-image: linear-gradient( rgb(255, 255, 255),rgb(167, 167, 167) 77%);
 
     color: rgb(0, 0, 0);
     font-size: 16px;
     border-radius: 7px;
     border: 1px solid rgb(86, 86, 86);
     margin-top: 2%;
 }
 
 .submit:hover{
     background-image: linear-gradient( white,rgb(98, 98, 98) 77%);
 
 }
 
 .cardNo{
     margin-left: 0vw;

    }

    .carddata>p+p{
        margin-left: -0.2vw;
        
   
    }
 .carddata>p+p+p>input{
     margin-left: 1vw;


 }
 

