
 /* #################################################################################### */

 /* single product */

 body{

    /* background-image: linear-gradient( white,rgb(232,232,232) 0%); */

}

 .singleProduct{
    width: 87%;
    margin: auto;
    height: 111vh;
    /* background-image: linear-gradient( white,rgb(232,232,232) 0%); */
    background-color: white;
 }

 .detailsbox{
    display: grid;
    grid-template-columns: 45% 55%;
    

 }

 .imagebox{
    /* border:1px solid red; */
    height: 64vh;
    
    
 }
 .imagebox>img{
    width: 103%;
    margin-top: 21px;
    border-radius: 3%;
 }

 .details{
    padding-left: 18vh;
    text-align: left;
 }

 .time{
    margin-top: -7px;
    background-color: #f2f2f2;
    padding: 2.5vh 1vh 1vh 4vh; 
    margin-bottom: 0px;
 }

 .time>p{
    margin: 3px;
 }
 
 .location{
    background-color: #f2f2f2;
    height: 5vh;
    padding-top: 0px;
    margin-top: 0px;
    /* padding-top: 0.7px; */
    
    font-size: 18px;
    align-items: center;
 }
.location>p{
    padding-top: 5px;
    padding-left: 1.6vw;
}

.cardetails{
    background-color: rgb(242, 242, 242);
    height: 32vh;
    margin-top: 1vh;
    /* padding-top: 0.7px; */
    padding: 0.1vh 1vh 1vh 4vh; 
    
    font-size: 18px;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.price{
    margin-top: 0px;
}

.price>span{
    
    color: var(--fade);
}
.cardetails>div>p{
    margin-top: 0px;
    color: var(--fade);
}

.cardetails>div>p>span{
    color: black;
}

.paybuttons{
    margin-top: 1.7vh;
    /* background-color:rgb(255, 255, 255) ; */
    
}

/* .paybuttons>button{
    padding: 0.7vw;
    width: 11vw;
    border-radius: 4px;
    border:1px solid rgb(172, 172, 172);
    background-image: linear-gradient( white,rgb(175, 175, 175) 77%);
    margin-right: 2vw;
    /* margin-left: 3vw; */

 */

.paybuttons>button:hover{
    background-image: linear-gradient( white,rgb(134, 134, 134) 77%);

}

.paybutton{
    padding: 0.7vw;
    width: 11vw;
    margin-top: 1vh;
    border-radius: 4px;
    border:1px solid rgb(205, 0, 41);
    background-image: linear-gradient( rgb(212,0,42),rgb(212,0,42));
    color: white;

}

.paybutton:hover{
    background-image: linear-gradient( rgb(240, 108, 134),rgb(235, 40, 79));

}


.paylater{
    padding: 0.7vw;
    margin-right: 2vw;
    width: 11vw;
    border-radius: 4px;
    border:1px solid rgb(137, 137, 137);
    background-image: linear-gradient( white,rgb(175, 175, 175) 77%);

    
}
.paylater:hover{
    background-image: linear-gradient( white,rgb(106, 106, 106) 77%);

}

/* //////////////////////////////// */

.text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 7vh;
    gap:7.7vw
    

}

.text>div{
    background-color: rgb(242, 242, 242);
    font-size: 18.7px;
    text-align: left;
}

.text>div+div{
    background-color:rgb(232,232,232) ;
}

.text>div+div>img{
    width: 100%;
}


/* ///////////////////////////// */
/* media query */

@media (min-width: 415px) and (max-width: 1281px){
     
    .singleProduct{
        height: 138vh;
    }
    

    .time{
        font-size: 15px;
    }
    
    .ModelHeading{
      font-size: 24px;
    }
    .paybuttons>button{
      
        /* margin-top: 0.3vh ; */

    }
    .cardetails{
        height: 34vh;
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {

    .detailsbox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    .imagebox{
        height: 34vh;
    }
    .imagebox>img{
        width: 100%;
    }
    
    .details{
        padding-left: 0px;
    }
    
    .ModelHeading{
        font-size: 24px;
        /* margin: auto; */
        margin-left:6%;
    }
    .paylater{
        margin-left:11%;
        
        width:37%;
        padding-top: 1.7vh;
        padding-bottom: 1.7vh;
        background-image: linear-gradient( white,rgb(175, 175, 175) 77%);
        
    }
    .paybutton{
        margin-left:7%;
        width:37%;
        padding-top: 1.7vh;
        padding-bottom: 1.7vh;
        
    }

    .text{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
    }

}

